@mixin heading {
	font-family: $primaryFont;
	font-weight: $medium;
	font-size: 60px;
}

@mixin subhead {
	font-family: $primaryFont;
	font-weight: $normal;
	font-size: 36px;
}


// media breakpoints

@mixin bp($size) {
	@if ($size == 'sml') {
		@media (max-width: 570px) { 
			@content; 
		}
	}

	@if ($size == 'med') {
		@media (max-width: 680px) { 
			@content; 
		}
	}
 
	@if $size == 'lrg' {
		@media (max-width: 750px) { 
			@content; 
		}
	}
}
